<h1>Request</h1>
<ul>
    <li>ID: {{ request.getId}}</li>
    <li>Agent: {{ request.getAgent.getName}}</li>
    <li>Check: {{ request.getCheck.getName}}</li>
    <li>StatusCode: {{ request.getStatusCode}}</li>
    <li>Request Stamp: {{ request.getRequestStamp}}</li>
    <li>Response Stamp: {{ request.getResponseStamp}}</li>
</ul>
